.container-pedidos{
    display: grid;
    grid-template-columns: 1fr 5fr 5fr 1fr;
    grid-template-rows: 10vh auto auto auto  ;
    margin-bottom: 10vh;
}
.pedidos {
    grid-column: 1/5;
    grid-row: 2/3;
}

.pedidos h2 {
    font-weight: bold;
    font-size: 180%;
    padding: 2%;
    background-color: #003059;
    color: #fff;
    text-align: center;
}

.pedidos .ped {
    font-size: 80%;
    display: grid;
    grid-template-columns: 5fr 2fr;
    grid-template-rows: 5vh 3vh 4vh 3vh;
    padding: 3%;
    height: 15vh;
    color: #00000f;
    border-bottom: 1px solid #000;
   
}

.nome {
    grid-column: 1/2;
    grid-row: 1/2;

}

.descri {
    grid-column: 1/3;
    grid-row: 2/4;
    font-size: 75%;
}

.valor {
    grid-column: 2/3;
    grid-row: 4/5;
    text-align: right;
}

.desconto {
    grid-column: 1/2;
    grid-row: 4/5;
    text-align: right;
}

.qtde {
    grid-column: 1/2;
    grid-row: 4/5;


}
.remover{
    grid-column: 2/3;
    grid-row: 1/2;
    
}
.btn-remover{
    grid-column: 4/6;
    grid-row: 2/3;
    display: flex;
    align-items: center;
    justify-content: right;
    height: 60%;
    width: 100%;
    
    
}
.pedidos .soma {
    padding-top: 5px;
    margin: 10px;
    text-align: right;
    font-weight: bold;
    
}


.opcoes {
    grid-column: 2/4;
    grid-row: 3/4;
    margin-top: 3vh;
    display: grid;
    grid-template-columns: 5fr 5fr 1fr 5fr 5fr ;
    grid-template-rows: 10vh 10vh

}

.opcoes .add-item {
    grid-column:1/6 ;
    grid-row: 1/2;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 40%;
    width: 100%;
    background-color: #003059;
    border-radius: 1em;
   
}

.opcoes .btn-finalizar {
    grid-column: 4/6;
    grid-row: 2/3;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 80%;
    width: 100%;
    background-color: seagreen;
    border-radius: 0.51rem;
}
.opcoes .cancelar {
    grid-column: 1/3;
    grid-row: 2/3;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 80%;
    width: 100%;
    background-color: tomato;
    border-radius: 0.51rem;
}

.finalizar{
    grid-column: 1/4;
    grid-row: 4/5;
    margin: 10px;
   visibility: hidden;
}
.finalizar form{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto auto auto auto;
   
}
.finalizar label{
    margin-top: 20px;
}

.finalizar input {
    display: block;
    margin-top: 3%;
    height: 40px;
    border: 1px solid #ccc;
    width: 97%;
}
.finalizar select{
    display: block;
    height: 44px;
    margin-top: 3%;
    width: 100%;
    border: 1px solid #ccc
}
.finalizar textarea{
    display: block;
    margin-top: 3%;
    height: 20vh;
    width: 100%;
}
input:valid {
    border-color: #278C07 !important;
}

.valorTotal{
    grid-column: 1/2;
    grid-row: 1/2;
}
.dataEntrega{
    grid-column: 2/3;
    grid-row: 1/2;
    margin-left: 10%;
}
.dataVencimento{
    grid-column: 2/3;
    grid-row: 2/3;
    margin-left: 10%;
}
.formaPag{
    grid-column: 1/2;
    grid-row: 2/3;
}
.numParc{
    grid-column: 1/2;
    grid-row: 3/4;
    
}
.valorParcela{
    grid-column: 2/3;
    grid-row: 3/4;
    margin-left: 10%;
}
.obsPedido{
    grid-column: 1/3;
    grid-row: 4/5;
}
.btn-salvar{
    grid-column: 2/3;
    grid-row: 6/7;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    
    
}
.btn-salvar input{
    margin-top: 40px;
    background-color: #28a745;
    color: #fff;
    border-radius: 0.51rem;
    height: 40px;
    font-size: 110%;
}
.finalizar .cancelar{
    grid-column: 1/2;
    grid-row: 6/7;
    height: 40px;
    margin-top: 40px;
    background-color: tomato;
    border-radius: 0.51rem;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 110%;
}

#lbl-NumParcela{
    display: none;
}
#lbl-valorParcela{
    display: none;
}